*{
    padding: 0;
    margin: 0;
 
   
}
body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100svh;
    align-items: center;
   
}
main{
    background-color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    padding: 2em;
    width: 90%;
    max-width: 20em;
    padding: 1rem;
    border-radius: 1rem;
  
  
 
}

main .qr-code{
    width:20em;
    border-radius: 0.7rem;
   

}
p{
   line-height: 1.3rem;
}

h2,p{
    margin-top: 1rem;
    text-align: center;

}
 .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
