*{
    padding: 0;
    margin: 0;
 
   
}
body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100svh;
    align-items: center;
   
}
main{
    background-color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    width: 85%;
    max-width: 18em;
    padding: 1.2rem;
    border-radius: 1rem;
  
}

main .qr-code{
    width: 100%;
    border-radius: 0.7rem;
}

h1{
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}
section{
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}
p{
    margin-top: 1rem;
    line-height: 1.3;
}
 .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
