*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
   
}
body{
    background-color: hsl(212, 45%, 89%);
}
main{
    background-color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
   justify-self: center;
    min-width: 15em;
   margin-top: 3em;
   min-height: 28em;
   padding: 1rem;
   border-radius: 1rem;
  
 
}
.section{
    text-align: center;
    

}
main .qr-code{
    width: 17rem;
    border-radius: 0.7rem;

}
p{
   line-height: 1.2rem;
}

h2,p{
    margin-top: 1rem;
    text-align: center;
   
}
